.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    & .settings {
        /* padding-top: 4svh;
        padding-bottom: 4svh;
        padding-left: 2svw;
        padding-right: 2svw; */
        grid-template-rows: repeat(3, 1fr);
        background-color: var(--bg-secondary);
        & .select-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            & .select-box {
                padding-top: 4svh;
                padding-bottom: 4svh;
                text-align: center;
                border: none;
                appearance: none;
                width: 100%;
                color: var(--primary);
                background-color: var(--bg-tertiary);
                font-size: 1rem;
            }
            & .icon {
                width: clamp(16px, 50%, 32px);
                stroke: var(--primary);
            }
        }
        & .assembly-menu {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-content: center;
            & .super-assembly {
                display: flex;
                justify-content: center;
            }
            & .main-assembly {
                display: flex;
                justify-content: center;
            }
            & .sub-assembly {
                display: flex;
                justify-content: center;
            }
        }
        & .layer-tabs {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.border {
    border-style: solid;
    border-width: 1px;
}

@media (max-width: 576px) {
    .container {
        grid-template-columns: auto;
    }
    
}