.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

h2 {
    pointer-events: none;
    padding-top: clamp(2px, 2svh, 15px);
    padding-bottom: clamp(2px, 2svh, 15px);
    font-weight: 200;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 1svw;
    padding-right: 1svw;
    border-bottom: 1px solid var(--bg-tertiary);
}

h4 {
    font-weight: 200;
}

.block-dashboard {
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--bg-primary);
    height: min-content;
    border: 1px solid var(--bg-tertiary);
    border-radius: 1svh;
    margin-left: 1svw;
    margin-right: 1svw;
    margin-top: 1svh;
    margin-bottom: 1svh;
    transition: border 0.1s;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

select {
    border: none;
    appearance: none;
    color: var(--primary);
    background-color: var(--bg-primary);
    width: 90%;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    & option {
        background-color: var(--bg-primary);
    }
}

label {
        position: absolute;
        left: clamp(1px, 1%, 5px);
        top: clamp(1px, 1%, 5px);
        font-size: clamp(0.5rem, 2svh, 0.7rem);
    }

.icon {
    position: absolute;
    right: clamp(1px, 0.5svw, 5px);
    width: clamp(10px, 10%, 32px);
    stroke: var(--primary);
    pointer-events: none;
    transition: transform 0.1s;
}

/* .rotate180 {
    transform: rotate(180deg);
} */

.tab {
    padding-top: clamp(2px, 2svh, 15px);
    padding-bottom: clamp(2px, 2svh, 15px);
    text-align: center;
    user-select: none;
    border-radius: 1svh;
    margin-top: 1svh;
    transition: background 0.15s;
    transition: color 0.15s;
}

.active-tab {
    color: var(--primary);
    background-color: var(--bg-secondary);
}

.tab.active-tab {
    border-width: 1px;
    border-style: solid;
}

.assembly-view {
    display: none;
}

.visible {
    display: block;
}

.tab:hover {
    cursor: pointer;
    background-color: var(--primary30);
    color: white;
}

.assembly-menu {
    & ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
    }
}

table {
    width: 100%;
    height: min-content;
    border-collapse: collapse;
    background-color: var(--bg-secondary);
    table-layout: fixed;
    border: 1px solid var(--primary);
}

tr {
    width: 100%;
    
}

th, td {
    word-wrap: break-word;
    border: 1px solid var(--bg-tertiary);
    font-weight: 200;
    text-align: left;
    padding-left: 0.5svw;
    padding-right: 0.5svw;
    padding-top: 1svh;
    padding-bottom: 1svh;
    font-size: 0.9rem;
}

.properties-table {
    display: grid;
    padding-left: 1svw;
    padding-right: 1svw;
    padding-top: 1svh;
    padding-bottom: 1svh;
    background-color: var(--bg-secondary);
    grid-template-columns: 1fr 1fr;
    & div p {
        padding-bottom: 2%;
    }
    border-bottom: 1px dotted var(--secondary);
}

.filters {
    padding-left: 1svw;
    padding-right: 1svw;
    padding-top: 1svh;
    padding-bottom: 5svh;
    background-color: var(--bg-secondary);
    /* border-bottom: 1px dotted var(--secondary); */
}

.viewport {
    height: min-content;
    background-color: var(--bg-secondary);
}


.add-layer {
    font-size: 1.5rem;
}


.key-value-comp p:first-child {
    text-align: right;
}


@media (max-width: 700px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
    
}


@media (max-width: 360px) {
    .container {
        grid-template-columns: auto;
    }
    
}