// custom.scss

// Theme colors
$primary: #67e0d8;
$secondary: #F55CAF;

// Accordion
// $accordion-color: #000;
$accordion-bg: $primary;

// Nav bar
// $nav-tabs-border-radius: 0;
$nav-tabs-link-active-bg: $primary;

// Dropdown
$dropdown-border-radius: 0;
$dropdown-border-color: #67e0d8;
// $dropdown-inner-border-radius: 0;

// Import Bootstrap SCSS files
@import "../node_modules/bootstrap/scss/bootstrap";

// Override Bootstrap variables to customize colors