/* https://www.youtube.com/watch?v=Qhaz36TZG5Y */

/* For responsive behavior use MIN MAX. Ex:
    article {
        width: clamp(200px, 50%, 600px);
    }
*/

/* Keeping aspect ratio:
    video {
        width: 100%;
        aspect-ratio: 16/9;
    }
*/

/* Possible to do calculations
    width: calc(100vw - 80px);
    font-size: calc(1rem * 1.25);
    padding: calc(5% + 2px);
*/

/* Counter
    :root {
        counter-reset: headings;
    }

    h1 {
        counter-increment: headings;
    }

    h1::before {
        content: counter(headings);
*/

/* Focus psudoclasses
 .dropdown {
    opacity: 0;
    visibility: hidden;
 }
*/

/* Making the css work across browsers
 PostCSS has a tool called Autoprefixer
 https://postcss.org/
*/

/* New units:
 vh = viewport height in %
 vw = viewport width in %
 dvh = dynamic viewport height in %, get viewport except scrolling bars and address field
 dvw = "
 svh = small viewport height, get the smallest part of viewport
 svw = "

 some browsers don't support the dynamic or small, so the solution could be
 height = 100vh (supported for most)
 height = 100svh (if supported this will overwrite the upper one, otherwise ignored)
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --primary: #67E0D7;
    --primary90: #67E0D7E5;
    --primary30: #67e0d84D;
    --secondary: #F55CAF;
    --secondary80: #F55CAFCC;
    --secondary35: #F55CAF59;
    --secondary30: #F55CAF4D;
    --bg-primary: #222;
    --bg-secondary: #1a1a1a;
    --bg-tertiary: #333;
}

* {
    box-sizing: border-box;
    color: var(--primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.1rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-tertiary);
}
body::-webkit-scrollbar-thumb {
    background: var(--primary);
}

html {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-primary);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    & .header-top {
        display: grid;
        grid-template-columns: auto max-content;
        align-items: center;
        background-color: var(--bg-secondary);
        padding-top: 2svh;
        padding-bottom: 2svh;
        padding-left: 2svw;
        padding-right: 2svw;
        & .full-logo {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: start;
            & .logo {
                display: flex;
                & img {
                    width: clamp(95px, 16.5svw, 130px);
                }
            }
            & .site-name{
                width: min-content;
                font-weight: 200;
                font-size: clamp(0.72rem, 2svw, 1rem);
                margin-left: 1svw;
                margin-right: 1svw;
            }
        }
        & nav .menu {
            display: flex;
            justify-content: end;
            gap: 1.5svw;
            & li a:hover {
                color: var(--secondary);
                border-color: var(--secondary);
            }
            
        }
    }
    .mobile-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        & a {
            width: 100%;
            text-align: center;
            padding: 4svh;
            background-color: var(--bg-tertiary);
            & li {
                transition: 0.1s;
            }
        }
        & a:hover {
            background-color: var(--secondary);
        }
    }
}

.hamburger-icon{
    margin: auto 0;
    display: none;
    cursor: pointer;
    & div{
        width: 30px;
        height: 2px;
        border-radius: 1px;
        background-color: var(--primary);
        margin: 6px 0;
        transition: 0.1s;
    }
}

.color-hamburguer {
    & div {
        background-color: var(--secondary);
    }
}

@media (max-width: 576px) {
    .hamburger-icon {
        display: block;
    }
    .hidden-mobile {
        display: none;
    }
}