/* https://www.youtube.com/watch?v=Qhaz36TZG5Y */

/* For responsive behavior use MIN MAX. Ex:
    article {
        width: clamp(200px, 50%, 600px);
    }
*/

/* Keeping aspect ratio:
    video {
        width: 100%;
        aspect-ratio: 16/9;
    }
*/

/* Possible to do calculations
    width: calc(100vw - 80px);
    font-size: calc(1rem * 1.25);
    padding: calc(5% + 2px);
*/

/* Counter
    :root {
        counter-reset: headings;
    }

    h1 {
        counter-increment: headings;
    }

    h1::before {
        content: counter(headings);
*/

/* Focus psudoclasses
 .dropdown {
    opacity: 0;
    visibility: hidden;
 }
*/

/* Making the css work across browsers
 PostCSS has a tool called Autoprefixer
 https://postcss.org/
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --primary: #67E0D7;
    --primary90: #67E0D7E5;
    --secondary: #F55CAF;
    --secondary80: #F55CAFCC;
    --secondary35: #F55CAF59;
    --secondary30: #F55CAF4D;
    --bg-color: #353535;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--primary);
    font-family: "Montserrat", sans-serif;
}



header {
    display: flex;
    justify-content: center;
    height: 60px;
    margin-top: 40px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    flex-wrap: wrap;
    & img {
        max-width: 100px;
        height: auto;
        margin-right: 10px;
    }
    & h1 {
        font-size: 1.2rem;
    }
}

.main-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
    font-weight: 200;
    font-size: 1rem;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    & li {
        display: inline-block;
        padding: 0 5px;
    }
    & li a {
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }
    & li a:hover {
        color: var(--secondary);
    }
}

button {
    font-weight: bold;
    padding: 9px 25px;
    border-radius: 50px;
    border-color: var(--primary);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    color: var(--secondary);
    border-color: var(--secondary);
}

footer {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    place-content: center;
    border-color: var(--secondary);
    border-width: 1px;
    width: clamp(20%, 100%, 1152px);
}

.header-container {
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
}

.footer-container {
    flex-direction: column;
}