{% extends 'layout.html' %}

{% block title %}Circular Component Creator{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='creator.css') }}">
{% endblock %}

{% block content %}
<div class="filters">
    <h2>Filters </h2>
</div>
<div class="container">
    <div class="settings">
        <div class="select-container">
            <!-- <label for="select-component">Component: </label> -->
            <select class="tab" name="component-selector" id="select-component">
                <option disabled selected>Select Component</option>
                {% for component in component_ids %}
                <option value="{{ component }}">{{ component }}</option>
                {% endfor %}
            </select>
            <svg class="icon select-arrow">
                <use xlink:href="static/icons.svg#select-arrow" >
            </svg>
        </div>
        <nav class="assembly-menu">
            <ul>
                <li title="Super-assembly of component" class="tab assembly-tab active-tab" id="super-assembly">Super</li>
                <li title="Main-assembly of component" class="tab assembly-tab" id="main-assembly">Main</li>
                <li title="Sub-assembly of component" class="tab assembly-tab" id="sub-assembly">Sub</li>
            </ul>
        </nav>
        <div class="assembly-view visible">
            <div class="properties-table">
                <div class="property-name">
                    <p title="Assembly ID">ID</p>
                    <p title="Assembly category">Category</p>
                    <p title="Assembly thickness">Thickness [m]</p>
                </div>
                <div class="property-super">
                    <p class="prop-super-id">-</p>
                    <p class="prop-super-category">-</p>
                    <p class="prop-super-thickness meters">-</p>
                </div>
            </div>
            <nav class="layers-view">
                <ul class="layers-super">
                    <!-- super layers will come here -->
                </ul>
            </nav>
            <div title="Add layer" class="tab add-layer">+</div>
        </div>
        <div class="assembly-view">
            <div class="properties-table">
                <div class="property-name">
                    <p title="Assembly ID">ID</p>
                    <p title="Assembly category">Category</p>
                    <p title="Assembly thickness">Thickness [m]</p>
                </div>
                <div class="property-main">
                    <p class="prop-main-id">-</p>
                    <p class="prop-main-category">-</p>
                    <p class="prop-main-thickness meters">-</p>
                </div>
            </div>
            <nav class="layers-view">
                <ul class="layers-main">
                    <!-- super layers will come here -->
                </ul>
            </nav>
            <div title="Add layer" class="tab add-layer">+</div>
        </div>
        <div class="assembly-view">
            <div class="properties-table">
                <div class="property-name">
                    <p title="Assembly ID">ID</p>
                    <p title="Assembly category">Category</p>
                    <p title="Assembly thickness">Thickness [m]</p>
                </div>
                <div class="property-sub">
                    <p class="prop-sub-id">-</p>
                    <p class="prop-sub-category">-</p>
                    <p class="prop-sub-thickness meters">-</p>
                </div>
            </div>
            <nav class="layers-view">
                <ul class="layers-sub">
                    <!-- super layers will come here -->
                </ul>
            </nav>
            <div title="Add layer" class="tab add-layer">+</div>
        </div>
    </div>
    <div class="viewport">
    </div>
    <div class="stats component-properties">
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='propertiesPanel.js') }}"></script>
    <script src="{{ url_for('static', filename='fetchComponent.js') }}"></script>
{% endblock %}